
button {
    background: red;
    border-color: red;
}
label {
    background: grey;
}

label:hover {
    background: grey;
    border-color: gray;
}

button:hover {

    border-color: red;
    background: red;
}